# ----------------------------------------------------------------------------
# Copyright 2023 Drunella
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licen~ses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ----------------------------------------------------------------------------

FEATURES {
    STARTADDRESS:    default = $1000;
}

SYMBOLS {
    __LOADADDR__:  type = import;
    __STACKSIZE__: type = weak, value = $0800; # 1k stack
#    __HIMEM__:     type = weak, value = $D000;
}

MEMORY {
    ZP:        file = "", define = yes, start = $0002,   size = $001A;
    BSS:       file = "",               start = $7000,   size = $1000;
    LOADADDR:  file = %O,               start = %S - 2,  size = $0002;
    MAIN:      file = %O, define = yes, start = $1000,   size = $6000;
    UPPER:     file = "", define = yes, start = $c000,   size = $1000;
    WORK:      file = "", define = yes, start = $8000,   size = $4000;

    IO_WRAPPER:  file = "", start = $0347,  size = $0082;
    IO_BANKING:  file = "", start = $0100,  size = $0020;
}

SEGMENTS {
    ZEROPAGE: load = ZP,       type = zp;
    LOADADDR: load = LOADADDR, type = ro;
    STARTUP:  load = MAIN,     type = ro,  start = $1000;
    LOWCODE:  load = MAIN,     type = ro,  optional = yes;
    CODE:     load = MAIN,     type = ro;
    RODATA:   load = MAIN,     type = ro;
    DATA:     load = MAIN,     type = rw;
    INIT:     load = MAIN,     type = rw;
    ONCE:     load = MAIN,     type = ro,  define   = yes;
    BSS:      load = BSS,      type = bss, define   = yes;
    HEAP:     load = BSS,     type = bss, optional = yes;

    GAMESTART:  load = MAIN, run = UPPER, type = rw,  define = yes;
    IO_WRAPPER: load = MAIN, run = IO_WRAPPER, type = rw,  define = yes;
    IO_BANKING: load = MAIN, run = IO_BANKING, type = rw,  define = yes;


}

FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = ONCE;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLIRQ__;
}
